@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend Mega", sans-serif;
}

body {
    background-color: lightblue;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 300px;
    height: 550px;
    border-radius: 20px;
    background-color: #fff4e0;
    padding: 20px;
    box-shadow: 4px 4px 0 rgb(0, 0, 0);
    border: 2px solid black;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
}

.input-city {
    flex: 1;
    outline: none;
    padding: 10px 16px;
    border-radius: 10px;
    box-shadow: 4px 4px 0 rgb(0, 0, 0);
    border: 2px solid black;
    width: 100%;
}

.search-btn {
    background: #ff7dd8;
    border: 2px solid black;
    padding: 6px 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 0 rgb(0, 0, 0);
    cursor: pointer;
}

.location-info {
    display: flex;
    flex-direction: column;
}

.location {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    gap: 2px;
}

.location {
    transform: translateY(1px);
}

.country {
    font-size: 14px;
}


.weather-info {
    background-color: #fdd135;
    border-radius: 15px;
    box-shadow: 4px 4px 0 rgb(0, 0, 0);
    border: 2px solid black;
    width: 100%;
    height: 140px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.weather-icon {
    width: 3rem;
    margin-bottom: 5px;
}

.temp {
    font-size: 28px;
}

.ket-temp {
    font-size: 15px;
}

.weather-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 20px;
}

.card-details {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 0 rgb(0, 0, 0);
    border: 2px solid black;
}

.grid-info {
    font-size: 11px;
    margin-bottom: 5px;
}

.grid-icon {
    width: 25px;
    margin-bottom: 5px;
}

.card-details:nth-child(1) {
    background-color: #95edff;
}

.card-details:nth-child(2) {
    background-color: #7dff6b;
}

.card-details:nth-child(3) {
    background-color: #ff7fec;
}

.card-details:nth-child(4) {
    background-color: #ffc456;
}

.search-icon {
    width: 70px;
}

.search-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    margin-top: 50%;
}